<!DOCTYPE html>
    <head>
        <title>Sign Up</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
            body {
                margin: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Sign Up Page</h1>
        <p>Sign up the below form</p>

        <form method="post"> 
            <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>
            <!-- <span id='message'></span> -->
            </div>

            <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            <span id='email_message'></span>
            <!-- <span class="error">Email address entered is invalid</span> -->
            </div>

            <div>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" min="0" max="70" required>
            <!-- <span class="error">Please enter your age</span> -->
            </div>

            <div>
            <label for="phone">Phone:</label>
            <input type="number" name="phone" id="phone" required>
            <!-- <span class="error">Please enter your contact number</span> -->
            </div>
            
            <div>
            <label for="gender">Gender:</label>
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
            </div>

            <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
            </div>
            <div>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
            <span id='password_message'></span>
            </div>

            <button type="submit" formaction="/signin">Submit</button>
        </form>
        <form method="get">
            <p>If you are already an user, log in</p>
            <button formaction="/signin">Sign In</button>
        </form>
        <script>
            $(document).ready(function() {
                $('#email').on('input', function() {
	                var input=$(this);
	                var re = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
	                var is_email=re.test(input.val());
	                if(is_email){
                        $('#email_message').html('Valid Email').css('color', 'green');
                    }
	                else{
                        $('#email_message').html('Invalid Email').css('color', 'red');
                    }
            });
                $('#password, #confirm_password').on('keyup', function () {
                if ($('#password').val() == $('#confirm_password').val()) {
                    $('#password_message').html('Matching').css('color', 'green');
                } else 
                    $('#password_message').html('Not Matching').css('color', 'red');
                });
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>        
    </body>
</html>