<!DOCTYPE html>
<head>
  <title>Book Page</title>
  <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
  
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"
    />
    <style>
        body {
            margin: 20px;
        }
        a {
            padding-right: 20px;
            float: right;
        }
    </style>
</head>
<body>
        <a href="/logout" >Logout</a>
        <a href="/landing">User Table</a>
  <h1>Library</h1>
  <form method="POST">
    <div>
        <label for="bookname">Book Name:</label>
        <input type="text" name="bookname" id="bookname" required>
    </div>

    <div>
        <label for="authorname">Author Name:</label>
        <input type="text" name="authorname" id="authorname" required>
    </div>

    <button type="submit" formaction="/addbook">Submit</button>
  </form>
    <div class="container"> 
        <h3 align="center">Book Database</h3><br /> 
        <table id="data-table" class="table table-bordered">  
        <thead>  
            <tr>  
                <th>Book Name</th>  
                <th>Author Name</th>  
            </tr>  
        </thead>  
        <tbody></tbody>
        </table>  
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
     <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <script
      type="text/javascript"
      src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"
    ></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#data-table").DataTable({
                // processing: true,
                // serverSide: true,
                ajax: {
                    url: "/booksdb",
                    method: "GET",
                    dataSrc: ""
                },
                columns: [{ data: "bookname" }, { data: "authorname" }]
            });
        });
    </script>
</body>
</html>
