<!DOCTYPE html>
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
      body {
          margin: 20px;
      }
      div {
        padding: 15px;
      }
  </style>
</head>
<body>
  <h1>Welcome to Library Management System</h1>
  <div>
    <h4>If you are a new user, sign up</h4>
    <a href="/signup"><button>Sign Up</button></a>
  </div>
  <div>
    <h4>If you already have an account, sign in</h4>
    <a href="/signin"><button>Sign In</button></a>
  </div>
</body>
</html>
