#myname {
  margin-left: -1000px;
}

#tabledata {
  margin-left: -1000px;
}

#tables {
  display: -webkit-inline-box;
}

#left {
  border: 1px solid;
  background-color: white;
  padding: 5%;
}

#right {
  border: 1px solid;
  background-color: white;
  padding: 5%;
}
